/* Stiluri pentru modul luminos */
body {
  background-color: #fff;
  color: #333;
}

header {
  padding: 20px;
  background-color: #007bff;
  color: #fff;
}

.dropdown-content {
  background-color: #f9f9f9;
}

.dropdown-content button {
  color: #333;
}

.button-delete {
  background-color: #dc3545;
}

.button-delete:hover {
  background-color: #c82333;
}


/* Stiluri pentru modul întunecat */
.dark-mode body {
  background-color: #333;
  color: #fff;
}

.dark-mode header {
  background-color: #222;
  color: #fff;
}

.dark-mode .dropdown-content {
  background-color: #222;
}

.dark-mode .dropdown-content button {
  color: #fff;
}

.dark-mode .button-delete {
  background-color: 222;
}

.dark-mode .button-delete:hover {
  background-color: fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  width: 100%;
  border: none;
  background: none;
  transition: transform 0.3s ease-in-out;
}

.dropdown-content button:hover {
  background-color: #ddd;
  transform: scale(1.15);
}

.dropdown:hover .dropdown-content {
  display: block;
}


body {
  color: #333;
}

#calendar {
  margin-top: 20px;
}


body.dark-mode {
  background-color: #333;
  color: #fff;
}

header.dark-mode {
  padding: 20px;
  background-color: #222;
  color: #fff;
}

.dropdown-content.dark-mode {
  background-color: #222;
}

.dropdown-content.dark-mode button {
  color: #fff;
}

/* .button-delete.dark-mode {
  background-color: #dc3545;
}

.button-delete.dark-mode:hover {
  background-color: #c82333;
} */


.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 9999;
}