/* Stiluri pentru modul luminos */
body {
  background-color: #fff;
  color: #333;
}

header {
  padding: 20px;
  background-color: #007bff;
  color: #fff;
}

.dropdown-content {
  background-color: #f9f9f9;
}

.dropdown-content button {
  color: #333;
}

.button-delete {
  background-color: #dc3545;
}

.button-delete:hover {
  background-color: #c82333;
}

/* Stiluri pentru modul întunecat */
.dark-mode body {
  background-color: #333;
  color: #fff;
}

.dark-mode header {
  background-color: #222;
  color: #fff;
}

.dark-mode .dropdown-content {
  background-color: #222;
}

.dark-mode .dropdown-content button {
  color: #fff;
}

.dark-mode .button-delete {
  background-color: #dc3545;
}

.dark-mode .button-delete:hover {
  background-color: #c82333;
}

