* 
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body 
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll; /* Show scrollbars */
}
nav 
{
  background: none;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: transparent;
  z-index: 999;
}
.logo 
{
  background:none;
  font-size: 35px;
  line-height: 80px;
  height: 180px;
  padding: 0 100px;
  font-weight: bold;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  
}
a.active,
a:hover 
{
  background: #111;
  transition: 0.5s;
}
.active 
{
  background-color: #04aa6d;
}
.home 
{
  position: absolute;
  top: 6cm;
  left: 2cm;
  width: 100%;
  height: 100%;
  z-index: 999;
  color: white; 
}
.layer 
{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.navbar
{
    margin-right: 50px;
    color:black;
}
ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  z-index: 999;
}
li 
{
  float: left;
 
    font-style: italic;
}
li a,
.dropbtn 
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  width: 100px;
}
li a:hover,
.dropdown:hover .dropbtn
{
  background-color: dodgerblue;
  border-radius: 5px;
}

li.dropdown 
{
  display: inline-block;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100px;
}

.dropdown-content a 
{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;

}

.dropdown-content a:hover
{
  background-color: dodgerblue;
}

.dropdown:hover .dropdown-content
{
    display: block;
}
#videoBG
{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width:auto;
    height:auto;
}
@media (min-aspect-ratio: 16/9)
{
    #videoBG
    {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9)
{
    #videoBG{
        width:auto;
        height: 100%;
    }
}
.img
{
    background-image: url("cartebirou.jpg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.slider
{
    display:flex;
    flex-direction: row;
    height: 80%;
    width:100%;
}
.slider img
{
    width:33%;
    padding: 5px;
}
.slider img:hover
{
    transform: scale(1.5);
}
navpg 
{
  background-image: url(tipacuapa.jpg);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: transparent;
  z-index: 999;
}
.logopg 
{
  background-image: url(tipacuapa.jpg);
  font-size: 35px;
  line-height: 80px;
  height: 180px;
  padding: 0 100px;
  font-weight: bold;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
}
.navbarpg
{
    margin-right: 80px;
}
.ceva
{
    text-decoration: none;
    color:aliceblue;
    font-size: 35px;
}
.content
{
    background-image:url(cartebirou.jpg);
    width: 100vw;
    z-index: 200;
    height: 100vh;
    position: absolute;
    top: 70px;
    left:0;
}
.link
{
  background: white;
  color: red; 
  z-index: 9;
}