<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/schedules" routerLinkActive="active" ariaCurrentWhenActive="page" href="/schedules">Schedules</a></li>
    <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" href="/dashboard">Dashboard</a></li>
    <!-- <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li> -->
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>